.logo img {
    height: 50px; /* Ajuste a altura conforme necessário */
    width: auto;
}

.accordion-button-color {
    color: brown;
}

/* Estilo para o rodapé */
footer {
    background-color: #343a40; /* Cor de fundo escura */
  }
  
  footer a {
    color: #ffffff; /* Cor dos links */
  }
  
  footer a:hover {
    color: #dc3545; /* Cor dos links ao passar o mouse */
  }
  
  /* Estilo para os ícones das redes sociais */
  .btn-floating {
    display: inline-block;
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    line-height: 40px; /* Centraliza verticalmente o texto dentro do botão */
    border-radius: 50%;
    text-align: center;
    background-color: #6c757d; /* Cor de fundo dos ícones */
    margin: 0 5px; /* Espaçamento entre os ícones */
  }
  
  .btn-floating i {
    font-size: 23px; /* Tamanho dos ícones */
  }
  
  .btn-floating:hover {
    background-color: #dc3545; /* Cor de fundo ao passar o mouse */
  }
  
/* Estilos para o carrossel */
.carousel-item {
  position: relative;
  height: 100vh; /* Define a altura do carrossel para 100% da altura da viewport */
  overflow: hidden; /* Garante que a imagem não exceda o contêiner */
}

.carousel-item img {
  object-fit: cover; /* Faz a imagem cobrir todo o contêiner mantendo a proporção */
  width: 100%; /* Garante que a imagem ocupe toda a largura do carrossel */
  height: 100%; /* Garante que a imagem ocupe toda a altura do carrossel */
}

.carousel-caption {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente para melhor legibilidade */
  padding: 1rem;
  border-radius: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Centraliza as imagens na galeria */
}

.gallery-item {
  width: 300px; /* Largura fixa */
  height: 250px; /* Altura fixa */
  object-fit: cover; /* Mantém a proporção da imagem */
  cursor: pointer;
  border-radius: 8px; /* Cantos arredondados */
  transition: transform 0.3s; /* Transição suave */
}

.gallery-item:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 55%; /* Aumenta a largura máxima no modal */
  max-height: 750%; /* Aumenta a altura máxima no modal */
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}