body{margin: 0; font-family: "Roboto", sans-serif;}

.logo img {
    height: 50px; /* Ajuste a altura conforme necessário */
    width: auto;
}

.figura{
    width: 40%;
    float: left;
    background-color: #ffffff;
    padding: 50px 100px;
    box-sizing: border-box;
    height: 100vh;
}

.formulario{
    width: 60%;
    float: right;
    background: #29343e;
    padding: 40px;
    box-sizing: border-box;
    height: 100vh;
}

.ilustra{
    text-align: center;
    margin-top: 10%;
}

.ilustra img{
    width: 100%;

}

.formulario h2{
    color: #fff;
    font-size: 32px;
    margin-bottom: 0;
}

.formulario p{
    color: #ddd;
    font-size: 18px;
    margin-top: 0;
}

.menu-form{padding: 0;}
.menu-form li{
    display: inline-block;
    text-decoration: none;
    border-bottom: solid 2px #fff;
    padding-bottom: 5px;
    margin-right: 15px;
}
.menu-form li a{
    text-decoration: none;
    color: #fff;
}

.formulario form{
    max-width: 300px;
}
.formulario input{
    padding: 8px;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.formulario .bt-login{
    background: #ff6363;
    display: inline-block;
    color: #ffffff;
    width: auto;
    padding: 10px 15px;
}

.forgot{
    text-decoration: none;
    color: #fff;
    border-bottom: solid 1px #fff;
}

.container-form{
    max-width: 300px;
    margin: 10 auto 0 auto;
}

/* Media Query */
@media (max-width: 700px){
    .figura, .formulario{ float: none; width: 100%; height: auto;}
}