@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #29343e;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto; /* Centraliza a container e adiciona margem superior e inferior */
    display: flex;
    flex-wrap: wrap;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
}

.form-image img {
    max-width: 100%;
    height: auto; /* Mantém a proporção da imagem */
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Para o uso do ::after corretamente */
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #ff6363;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #ff6363f1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #ff6363;
    margin: 0 auto;
    position: absolute;
    bottom: -0.5rem; /* Ajuste a posição conforme necessário */
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem; /* Espaço entre os campos de entrada */
    padding: 1rem 0;
}

.input-box {
    flex: 1 1 calc(50% - 1rem); /* Ajuste para 50% da largura do contêiner menos o gap */
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #ff6363;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #ff6363;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.logo img {
    height: 50px; /* Ajuste a altura conforme necessário */
    width: auto;
}

.headerTeste {
    width: 100%;
    margin-top: 0;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px; /* distância da borda direita */
    top: 50%; /* centraliza verticalmente */
    transform: translateY(-50%); /* ajusta o posicionamento */
    cursor: pointer;
    width: 16px; /* tamanho pequeno */
    height: 16px; /* tamanho pequeno */
}



/* Estilos para o rodapé */
footer {
    background-color: #343a40; /* Cor do fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    width: 100%; /* Garante que o rodapé ocupe toda a largura */
    padding-top: 3rem;
    padding-bottom: 2rem;
    margin-top: auto; /* Garante que o rodapé fique na parte inferior da página */
}

footer .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo do rodapé */
}

footer .row {
    margin-bottom: 1rem;
}

footer .text-danger {
    color: #ff6363 !important; /* Cor dos títulos */
}

footer p {
    font-size: 0.9rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 100%;
    }
    .form {
        width: 100%;
        padding: 2rem;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .input-group {
        flex-direction: column;
        overflow: hidden; /* Evita o scroll horizontal desnecessário */
        padding-right: 0;
    }

    .input-box {
        flex: 1 1 100%; /* Ocupa toda a largura do contêiner */
    }

    .form-image {
        width: 100%;
        display: block;
        padding: 0;
    }

    .form-image img {
        display: none;
    }
}
