/* Caso deseje adicionar estilos personalizados, você pode fazer aqui */
body {
    background-color: #f9f9f9;
}

.logo img {
    height: 50px; /* Ajuste a altura conforme necessário */
    width: auto;
}